<html>
	<head>
		<title>SEO Analyzer</title>
	</head>
	<body>
		<form method="get" action="report">
			<fieldset>
				<legend>Page to analyze</legend>
				<input type="text" name="url" id="url" />
				<input type="submit" />
			</fieldset>
		</form>
	</body>
</html>
