<html>
	<head>
		<title>SEO Analyzer</title>
		<link type="text/css" href="/the.css" rel="stylesheet" media="screen"></style>
	</head>
	<body>
	  <div class="container">
		  <form method="get" action="report">
  			<fieldset>
  				<legend>Page to analyze</legend>
  				<input type="text" name="url" id="url" />
  				<input type="submit" />
  			</fieldset>
  		</form>
  	</div>
	</body>
</html>
